/*
/ Description: Master CSS Style Sheet Day 1
/ Created: 10/30/2018
/ By: Ryan Hicks
/ Last Updated: 10/30/2018
/ By: Ryan Hicks

/ ---------->>> INDEX <<<---------- /

Color Reference Library
Class Reference Library
Selector Sepcificity
Handy Notes
Body
    Header
        Heading
        Navigation
    Main
        Division
        Paragraph
        Quote
        Blockqoute
        Citation
        Hyperlink
            Link
            Visited
            Hover
        Ordered List
        Unordered List
        Image
        Button
    Footer

/ ---------->>> COLOR REFERENCE LIBRARY <<<---------- /

/ background: #000000;
/ normal text: #ffffff;
/ links:
/ headings: #ffffff;
/ main content bg: #000000;

/ ---------->>> CLASS REFERENCE LIBRARY <<<---------- /

/

/ ---------->>> SELECTOR SPECIFICITY  <<<---------- /

/ ID [#id] > Class [.class] > Type [e.g. header]

/ ---------->>> HANDY NOTES <<<---------- /

em - The value of 1 em is relative to the font-size of the direct parent. Often used in media-queries, em is great for responsiveness, but it can get really confusing tracing back the exchange rate of ems to pixels for each element (1.25em of 1.4em of 16px = ?).

rem - Relative to the font-size of the <html> element, rem makes it really easy to scale all headings and paragraphs on the page. Leaving the <html> with it's default fontsize and setting everything else with rem is a great approach accessibility-wise.

px - Pixels give you the most precision but don't offer any scaling when used in responsive designs. They are reliable, easy to understand, and present a good visual connection between value and actual result (15px is close, maybe just a pixel or two more).

/*

/* ---------->>> BODY <<<---------- */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: #000;
    color: #fff;
}

/* ---------->>> HEADER <<<---------- */

header {

}

/* ---------->>> HEADING <<<---------- */

h1,
h2,
h3, 
h4, 
h5, 
h6 {
    color: #fff;
}

/* ---------->>> NAVIGATION <<<---------- */

nav {

}

/* ---------->>> MAIN <<<---------- */

main {

}

/* ---------->>> DIVISION <<<---------- */

div {
    color: #fff;
    background-color: #000;
}

/* ---------->>> PARAGRAPH <<<---------- */

p {
    color: #fff;
}

/* ---------->>> QUOTE <<<---------- */

q {
    color: #fff;
}

/* ---------->>> BLOCKQOUTE <<<---------- */

blockquote {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-style: italic;
    text-align: center;
}

/* ---------->>> CITATION <<<---------- */

cite {
    color: #fff;
    font-size: 1rem;
}

/* ---------->>> HYPERLINK <<<---------- */

a {
    background-color: #000;
    text-decoration: none;
}

a:link {
    color: #fff;
}

a:visited {
    color: #fff;
}

a:hover {
    color: #0021CC;
}

/* ---------->>> ORDERED LIST <<<---------- */

ol {

}

/* ---------->>> UNORDERED LIST <<<---------- */

ul {
    list-style-type: square;
}


/* ---------->>> IMAGE <<<---------- */

img {
    max-width: 100%;
    height: auto;
    border: 2px; 
    border-color: #fff;  
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* ---------->>> BUTTON <<<---------- */

button {

}

/* ---------->>> FOOTER <<<---------- */

footer {

}

